.btn-primary {
  background-color: #8e9eaf;
  color: #fff;
  border: none;
  padding: .25rem 1rem;
  border-radius: 40rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #31475f;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
  }
}

.btn-secondary {
  padding: 0 1rem;
  background-color: transparent;
  transition: background-color .2s ease-in-out;
  color: $color-text;

  &:hover,
  &.router-link-exact-active {
    background-color: $color-background-soft;
  }
}