$crossDark: "data:image/svg+xml,%3Csvg id='cross-blue' xmlns='http://www.w3.org/2000/svg' width='100' height='100.001' viewBox='0 0 100 100.001'%3E%3Crect id='Rectangle_18637' data-name='Rectangle 18637' width='100' height='100' fill='none'/%3E%3Cpath id='Union_286' data-name='Union 286' d='M86.6,97.7,50,61.1,13.4,97.7A7.848,7.848,0,0,1,2.3,86.6L38.9,50,2.3,13.4A7.848,7.848,0,1,1,13.4,2.3L50,38.9,86.6,2.3A7.848,7.848,0,0,1,97.7,13.4L61.095,50,97.7,86.6A7.848,7.848,0,0,1,86.6,97.7Z' transform='translate(0.001 0.001)' fill='%230a2637' opacity='0.501'/%3E%3C/svg%3E";

.search-container {
  width: 100%;
  max-width: 15rem;
  position: relative;
  max-height: 15rem;
  height: fit-content;
  display: flex;

  .search-bar {
    align-self: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;

    input[type="search"] {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      border-bottom: solid 1px grey;
      background-color: white;
      padding: 0 1rem 0 .5rem;
      width: 100%;

      &::placeholder {
        color: black;
        opacity: 0.5;
        font-size: 16px;
        line-height: 22px;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        content: url($crossDark);
        width: 12px;
        cursor: pointer;
        pointer-events: none;
        visibility: hidden;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      &:focus {
        outline: none;
      }
    }

    &.cross input[type="search"]::-webkit-search-cancel-button {
      display: block;
      visibility: visible;
      pointer-events: auto;
    }

    &.cross img {
      display: none;
    }

    img {
      position: absolute;
      top: 50%;
      right: 0;
      width: 14px;
      transform: translateY(-50%);
      background: none;
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  .results {
    position: absolute;
    top: calc(100% + 20px);
    left: -50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 57vh;
    min-width: 100%;
    width: 30rem;
    max-width: calc(100vw - 2rem);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba($color: black, $alpha: 0.1);
    border-radius: 10px;
    z-index: 100;
    transition: height 100ms ease-in-out;
    transition-delay: 100ms;

    >div {
      overflow-y: auto;

      >div {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 768px) {
      left: -100%;
    }
  }
}