footer {
  background-color: #f4f4f4;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #666;
  width: 100%;
  margin-top: auto;

  a {
    color: #666;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}