header {
  line-height: 1.5;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  >a,
  >div,
  >nav {
    flex-basis: 100%;
  }
}

nav {
  @media (max-width: 1024px) {
    opacity: 0;
    height: 50vh;
    transition: height 100ms ease-in-out;
    transition-delay: 100ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    right: 0;
    background-color: $color-background;
    user-select: none;
    pointer-events: none;

    &.active {
      height: calc(100vh - 150%);
      opacity: 1;
      pointer-events: all;
      user-select: initial;
    }
  }
}

.burger-container {
  display: none;
  justify-content: flex-end;

  .burger {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    width: 22px;

    span {
      height: 3px;
      width: 100%;
      background-color: $color-text;
      transition: all 100ms ease-in-out;
      border-radius: 3px;
    }

    &.active span {
      &:nth-of-type(1) {
        transition: all 100ms ease-in-out;
        transform: rotate(45deg);
        transform-origin: top left;
        width: 20px;

      }

      &:nth-of-type(2) {
        transition: all 100ms ease-in-out;
        transform-origin: center;
        width: 0;
      }

      &:nth-of-type(3) {
        transition: all 100ms ease-in-out;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        width: 20px;
      }
    }
  }

  @media (max-width: 1024px) {
    display: flex;
  }
}