$white: #ffffff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;

$black: #181818;
$black-soft: #222222;
$black-mute: #282828;

$indigo: #2c3e50;

$divider-light-1: rgba(60, 60, 60, 0.29);
$divider-light-2: rgba(60, 60, 60, 0.12);
$divider-dark-1: rgba(84, 84, 84, 0.65);
$divider-dark-2: rgba(84, 84, 84, 0.48);

$text-light-1: $indigo;
$text-light-2: rgba(60, 60, 60, 0.66);
$text-dark-1: $white;
$text-dark-2: rgba(235, 235, 235, 0.64);

$color-background: $white;
$color-background-soft: $white-soft;
$color-background-mute: $white-mute;

$color-border: $divider-light-2;
$color-border-hover: $divider-light-1;

$color-heading: $text-light-1;
$color-text: $text-light-1;

$section-gap: 16rem;

// @media (prefers-color-scheme: dark) {
//   :root {
//     $color-background: $black;
//     $color-background-soft: $black-soft;
//     $color-background-mute: $black-mute;

//     $color-border: $divider-dark-2;
//     $color-border-hover: $divider-dark-1;

//     $color-heading: $text-dark-1;
//     $color-text: $text-dark-2;
//   }
// }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

// html {
//   font-size: 62.5%;
// }


body {
  min-height: 100dvh;
  color: $color-text;
  background: $color-background;
  transition: color 0.5s, background-color 0.5s;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

a {
  text-decoration: none;
}

.go-back {
  svg {
    transition: transform 0.3s;
  }

  &:hover svg {
    transform: translateX(-0.1rem);
  }
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(192, 212, 231);
  border-radius: .5rem;
}

main img {
  animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
  0% {
    background: lightgray;
  }

  50% {
    background: white;
  }

  100% {
    background: lightgray;
  }
}