<script setup lang="ts">
import { RouterLink } from "vue-router";
</script>

<template>
  <footer class="z-10">
    <p>
      <a href="https://www.themealdb.com/api.php" target="_blank" rel="noopener"
        >A MealDb
      </a>
      <RouterLink to="#header" rel="noopener"> Demo </RouterLink>
    </p>
  </footer>
</template>
